

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);

@import url('font-awesome.css');
@import url('flaticon.css');
@import url('animate.css');
@import url('owl.css');
@import url('jquery.fancybox.css');
@import url('hover.css');

/*** 

====================================================================
	Reset
====================================================================

 ***/
* {
	margin:0px;
	padding:0px;
	border:none;
	outline:none;
}

/*** 

====================================================================
	Global Settings
====================================================================

 ***/

body {
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	color:#5f5f5f;
	line-height:2em;
	font-weight:400;
	background:#ffffff;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center top;
	-webkit-font-smoothing: antialiased;
}

a{
	text-decoration:none;
	cursor:pointer;
	color:#52c629;
}

a:hover,a:focus,a:visited{
	text-decoration:none;
	outline:none;
}

h1,h2,h3,h4,h5,h6 {
	position:relative;
	font-family: 'Montserrat', sans-serif;
	font-weight:normal;
	margin:0px;
	background:none;
	line-height:1.8em;
}

input,button,select,textarea{
	font-family: 'Open Sans', sans-serif;
}

p{
	position:relative;
	line-height:2em;	
}

.strike-through{
	text-decoration:line-through;	
}

.auto-container{
	position:static;
	max-width:1200px;
	padding:0px 15px;
	margin:0 auto;
}

.medium-container{
	max-width:850px;
}

.page-wrapper{
	position:relative;
	margin:0 auto;
	width:100%;
	min-width:300px;
	
}

ul,li{
	list-style:none;
	padding:0px;
	margin:0px;	
}

.theme-btn{
	display:inline-block;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	font-family: 'Montserrat', sans-serif;
}

.centered{
	text-align:center;	
}

.anim-3,.anim-3-all *{
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;	
}

.anim-5,.anim-5-all *{
	transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;	
}

.anim-7,.anim-7-all *{
	transition:all 0.7s ease;
	-moz-transition:all 0.7s ease;
	-webkit-transition:all 0.7s ease;
	-ms-transition:all 0.7s ease;
	-o-transition:all 0.7s ease;	
}

.btn-theme-light{
	position:relative;
	padding:10px 25px;
	line-height:24px;
	text-transform:uppercase;
	background:none;
	color:#ffffff !important;
	font-size:12px;
	border:1px solid #ffffff !important;
	-webkit-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

.btn-theme-light:hover{
	background:#52c629;
	color:#ffffff !important;
	border-color:#52c629 !important;	
}

.btn-theme-grey{
	position:relative;
	padding:10px 25px;
	line-height:24px;
	text-transform:uppercase;
	background:none;
	color:#555555 !important;
	font-size:12px;
	border:1px solid #999999 !important;
	-webkit-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

.btn-theme-grey:hover{
	background:#999999;
	color:#ffffff !important;
	border-color:#999999 !important;	
}

.btn-style-one{
	position:relative;
	padding:9px 30px;
	line-height:24px;
	text-transform:uppercase;
	background:none;
	color:#52c629 !important;
	font-size:12px;
	font-weight:400;
	border:2px solid #52c629 !important;
	border-radius:22px;
}

.btn-style-one:hover{
	color:#ffffff !important;
	border-color:#52c629 !important;
	background:#52c629;	
	-webkit-box-shadow:2px 3px 5px rgba(0,0,0,0.15);
	-ms-box-shadow:2px 3px 5px rgba(0,0,0,0.15);
	-o-box-shadow:2px 3px 5px rgba(0,0,0,0.15);
	-moz-box-shadow:2px 3px 5px rgba(0,0,0,0.15);
	box-shadow:2px 3px 5px rgba(0,0,0,0.15);
}

.btn-style-two{
	position:relative;
	padding:9px 30px;
	line-height:24px;
	text-transform:uppercase;
	background:#52c629;
	color:#ffffff !important;
	font-size:12px;
	font-weight:400;
	border:2px solid #52c629 !important;
	border-radius:22px;
	-webkit-box-shadow:2px 3px 5px rgba(0,0,0,0.15);
	-ms-box-shadow:2px 3px 5px rgba(0,0,0,0.15);
	-o-box-shadow:2px 3px 5px rgba(0,0,0,0.15);
	-moz-box-shadow:2px 3px 5px rgba(0,0,0,0.15);
	box-shadow:2px 3px 5px rgba(0,0,0,0.15);
}

.btn-style-two:hover{
	color:#52c629 !important;
	background:none;
	-webkit-box-shadow:none;
	-ms-box-shadow:none;
	-o-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;	
}

.btn-style-three{
	position:relative;
	padding:7px 25px;
	line-height:24px;
	text-transform:uppercase;
	background:#52c629;
	color:#ffffff !important;
	font-size:12px;
	font-weight:400;
	border:2px solid #52c629 !important;
	border-radius:20px;
	-webkit-box-shadow:2px 3px 5px rgba(0,0,0,0.15);
	-ms-box-shadow:2px 3px 5px rgba(0,0,0,0.15);
	-o-box-shadow:2px 3px 5px rgba(0,0,0,0.15);
	-moz-box-shadow:2px 3px 5px rgba(0,0,0,0.15);
	box-shadow:2px 3px 5px rgba(0,0,0,0.15);
}

.btn-style-three:hover{
	color:#52c629 !important;
	background:none;
	-webkit-box-shadow:none;
	-ms-box-shadow:none;
	-o-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;	
}

.btn-style-four{
	position:relative;
	padding:7px 25px;
	line-height:24px;
	text-transform:uppercase;
	background:#ff6c00;
	color:#ffffff !important;
	font-size:12px;
	font-weight:400;
	border:2px solid #ff6c00 !important;
	border-radius:20px;
	-webkit-box-shadow:2px 3px 5px rgba(0,0,0,0.15);
	-ms-box-shadow:2px 3px 5px rgba(0,0,0,0.15);
	-o-box-shadow:2px 3px 5px rgba(0,0,0,0.15);
	-moz-box-shadow:2px 3px 5px rgba(0,0,0,0.15);
	box-shadow:2px 3px 5px rgba(0,0,0,0.15);
}

.btn-style-four:hover{
	color:#ff6c00 !important;
	background:none;
	-webkit-box-shadow:none;
	-ms-box-shadow:none;
	-o-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;	
}

.theme-btn .icon-left{
	padding-right:10px;
}

.theme-btn .icon-right{
	padding-left:10px;
}

.theme_color{
	color:#52c629;	
}

.light-font{
	font-weight:300;	
}

.regular-font{
	font-weight:400;	
}

.semibold-font{
	font-weight:600;	
}

.bold-font{
	font-weight:700;	
}

.padd-top-10{
	padding-top:10px !important;	
}

.padd-top-20{
	padding-top:20px !important;	
}

.padd-top-30{
	padding-top:30px !important;	
}

.padd-top-40{
	padding-top:40px !important;	
}

.padd-top-50{
	padding-top:50px !important;	
}

.padd-top-60{
	padding-top:60px !important;	
}

.padd-top-70{
	padding-top:70px !important;	
}

.padd-left-10{
	padding-left:10px !important;	
}

.padd-left-20{
	padding-left:20px !important;	
}

.padd-left-30{
	padding-left:30px !important;	
}

.padd-left-40{
	padding-left:40px !important;	
}

.padd-left-50{
	padding-left:50px !important;	
}

.padd-left-60{
	padding-left:60px !important;	
}

.padd-left-70{
	padding-left:70px !important;	
}

.padd-bott-10{
	padding-bottom:10px !important;	
}

.padd-bott-20{
	padding-bottom:20px !important;	
}

.padd-bott-30{
	padding-bottom:30px !important;	
}

.padd-bott-40{
	padding-bottom:40px !important;	
}

.padd-bott-50{
	padding-bottom:50px !important;	
}

.padd-bott-60{
	padding-bottom:60px !important;	
}

.padd-bott-70{
	padding-bottom:70px !important;	
}

.padd-bott-90{
	padding-bottom:90px !important;	
}

.padd-bott-100{
	padding-bottom:100px !important;	
}

.padd-right-10{
	padding-right:10px !important;	
}

.padd-right-20{
	padding-right:20px !important;	
}

.padd-right-30{
	padding-right:30px !important;	
}

.padd-right-40{
	padding-right:40px !important;	
}

.padd-right-50{
	padding-right:50px !important;	
}

.padd-right-60{
	padding-right:60px !important;	
}

.padd-right-70{
	padding-right:70px !important;	
}

.margin-top-10{
	margin-top:10px !important;	
}

.margin-top-20{
	margin-top:20px !important;	
}

.margin-top-30{
	margin-top:30px !important;	
}

.margin-top-40{
	margin-top:40px !important;	
}

.margin-top-50{
	margin-top:50px !important;	
}

.margin-top-60{
	margin-top:60px !important;	
}

.margin-top-70{
	margin-top:70px !important;	
}

.margin-bott-10{
	margin-bottom:10px !important;	
}

.margin-bott-20{
	margin-bottom:20px !important;	
}

.margin-bott-30{
	margin-bottom:30px !important;	
}

.margin-bott-40{
	margin-bottom:40px !important;	
}

.margin-bott-50{
	margin-bottom:50px !important;	
}

.margin-bott-60{
	margin-bottom:60px !important;	
}

.margin-bott-70{
	margin-bottom:70px !important;	
}

.no-padd-bottom{
	padding-bottom:0px !important;	
}

.no-padd-top{
	padding-top:0px !important;	
}

.no-margin-bottom{
	margin-bottom:0px !important;	
}

.no-margin-top{
	margin-bottom:0px !important;	
}

.no-padd-left{
	padding-left:0px !important;	
}

.no-padd-right{
	padding-right:0px !important;	
}

.bg-lightgrey{
	background-color:#f6f6f6 !important;	
}

.no-bg{
	background:none !important;	
}

.text-uppercase{
	text-transform:uppercase !important;	
}

.preloader{ position:fixed; left:0px; top:0px; width:100%; height:100%; z-index:999999; background-color:#ffffff; background-position:center center; background-repeat:no-repeat; background-image:url(../images/icons/preloader.GIF);}



/**

====================================================================
	Boxed Properties Section
====================================================================

***/

.boxed-properties{
	position:relative;
	padding:0px 0px;	
}

.boxed-property-column{
	position:relative;	
}

.boxed-properties .boxed-property-column{
	position:relative;
	float:left;
	width:50%;
}

.boxed-property-column .inner-box{
	position:relative;
	background:#ffffff;
	text-align:center;	
}

.boxed-property-column .inner-box .image-outer{
	position:relative;
	float:left;
	width:50%;
	overflow:hidden;	
}

.boxed-property-column.style-two .inner-box .image-outer{
	float:right;	
}

.boxed-property-column .inner-box .image-outer .lightbox-image{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	color:#ff6c00;
	background:rgba(0,0,0,0.70);
	opacity:0;
	-webkit-transform:scale(0,0);
	-ms-transform:scale(0,0);
	-o-transform:scale(0,0);
	-moz-transform:scale(0,0);
	transform:scale(0,0);
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;	
}

.boxed-property-column .inner-box:hover .image-outer .lightbox-image{
	-webkit-transform:scale(1,1);
	-ms-transform:scale(1,1);
	-o-transform:scale(1,1);
	-moz-transform:scale(1,1);
	transform:scale(1,1);
	left:0px;
	opacity:1;	
}

.boxed-property-column .inner-box .image-outer .lightbox-image .icon{
	position:absolute;
	width:40px;
	height:40px;
	left:50%;
	margin-left:-20px;
	top:50%;
	line-height:40px;
	font-size:36px;
	margin-top:-20px;
	text-align:center;
}

.boxed-property-column .inner-box .image-outer img{
	display:block;
	width:100%;	
}

.boxed-property-column .inner-box .text-outer{
	position:absolute;
	right:0px;
	top:0px;
	width:50%;
	height:100%;
	border:10px solid #f2f2f2;
	background:#ffffff;
	padding:40px 20px 10px;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.boxed-property-column.style-two .inner-box .text-outer{
	left:0px;
	right:auto;	
}

.boxed-property-column .inner-box .text-outer h3{
	font-size:16px;
	margin-bottom:10px;
	text-transform:uppercase;
	color:#1a1a1a;
}

.boxed-property-column .inner-box .text-outer .desc{
	margin-bottom:25px;
	line-height:2.2em;
}

.boxed-property-column .inner-box .text-outer .btn-style-two{
	padding:7px 25px;
	border-radius:19px;	
}

.boxed-property-column .inner-box:hover .text-outer .btn-style-two{
	background:#ffffff !important;
	color:#181818 !important;
	border-color:#ffffff !important;	
}

.boxed-property-column .inner-box:hover .text-outer{
	background:#02e6e6;
	color:#ffffff;
	border-color:#ffffff;
	-webkit-box-shadow:0px 0px 5px 2px rgba(0,0,0,0.30);
	-ms-box-shadow:0px 0px 5px 2px rgba(0,0,0,0.30);
	-o-box-shadow:0px 0px 5px 2px rgba(0,0,0,0.30);
	-moz-box-shadow:0px 0px 5px 2px rgba(0,0,0,0.30);
	box-shadow:0px 0px 5px 2px rgba(0,0,0,0.30);	
}

.boxed-property-column .inner-box:hover .text-outer h3{
	color:#ffffff;	
}

/*** 

====================================================================
	Fluid Features Section
====================================================================

***/

.features-section-fluid{
	position:relative;
	width:100%;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;	
}

.features-section-fluid .columns-outer{
	position:relative;
	padding:40px 50px;
	background:rgba(255,255,255,0.90);
	width:75%;
}

.features-section-fluid .column{
	position:relative;
	float:left;
	width:33.333%;
	padding:40px 40px;	
}

.features-section-fluid .column .icon-box{
	position:relative;
	margin-bottom:20px;
	font-size:42px;
	color:#52c629;
}

.features-section-fluid .column h3{
	position:relative;
	font-size:14px;
	text-transform:uppercase;
	color:#1a1a1a;
	margin-bottom:10px;
}

.features-section-fluid .column .text{
	position:relative;
	color:#1a1a1a;
}

.features-section-fluid .column .text p{
	margin-bottom:20px;	
}

.features-section-fluid .curves-outer{
	position:absolute;
	right:-80px;
	top:0px;
	width:80px;
	height:100%;
	overflow:hidden;	
}

.features-section-fluid .upper-curve{
	position:absolute;
	left:-55px;
	top:0px;
	width:100px;
	height:53.8%;
	background:rgba(255,255,255,0.90);
	-webkit-transform:rotate(165deg);
	-ms-transform:rotate(165deg);
	-o-transform:rotate(165deg);
	-moz-transform:rotate(165deg);
	transform:rotate(165deg);
}

.features-section-fluid .lower-curve{
	position:absolute;
	left:-55px;
	bottom:0px;
	width:100px;
	height:53.8%;
	background:rgba(255,255,255,0.90);
	-webkit-transform:rotate(-165deg);
	-ms-transform:rotate(-165deg);
	-o-transform:rotate(-165deg);
	-moz-transform:rotate(-165deg);
	transform:rotate(-165deg);
}


/*** 

====================================================================
	Properties Section
====================================================================

***/

.property-section{
	position:relative;
	padding:80px 0px 40px;	
}

.property-section .sec-title .pull-right{
	padding-top:20px;	
}

.property-section .sec-title .pull-right .theme-btn{
	font-size:12px;
	text-transform:uppercase;
	color:#181818;	
}

.property-section .sec-title .pull-right .layout-link{
	position:relative;
	display:inline-block;
	margin-left:5px;
	color:#a5a5a5;
	line-height:24px;
	text-transform:uppercase;
}

.property-section .sec-title .pull-right .layout-link .fa{
	padding-left:5px;	
}

.property-section .sec-title .pull-right .layout-link:hover,
.property-section .sec-title .pull-right .layout-link.current{
	color:#ff6c00;	
}

.default-property-column{
	position:relative;
}

.property-section .default-property-column{
	margin-bottom:40px;	
}

.default-property-column .inner-box{
	position:relative;
	border:1px solid #e0e0e0;
	transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;		
}

.list-view .default-property-column .inner-box{
	padding-left:371px;
	min-height:245px;	
}

.default-property-column .inner-box:hover{
	-webkit-box-shadow:0px 0px 7px 1px rgba(0,0,0,0.20);
	-ms-box-shadow:0px 0px 7px 1px rgba(0,0,0,0.20);
	-o-box-shadow:0px 0px 7px 1px rgba(0,0,0,0.20);
	-moz-box-shadow:0px 0px 7px 1px rgba(0,0,0,0.20);
	box-shadow:0px 0px 7px 1px rgba(0,0,0,0.20);
}

.default-property-column .image-outer{
	position:relative;
	overflow:hidden;	
}

.list-view .default-property-column .image-outer{
	position:absolute;
	left:0px;
	top:0px;
	width:371px;
	height:245px;	
}

.default-property-column .image-outer .overlay-box{
	position:absolute;
	padding:20px;
	left:0px;
	bottom:-100%;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.50);
	color:#ffffff;
	text-align:center;
	transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;	
}

.default-property-column:hover .image-outer .overlay-box{
	bottom:0px;	
}

.default-property-column .image-outer .overlay-content{
	position:absolute;
	left:0px;
	width:100%;
	top:50%;
	margin-top:-40px;
	text-align:center;
}

.default-property-column .image-outer .overlay-content h4{
	position:relative;
	font-size:14px;
	color:#ffffff;
	margin-bottom:10px;	
}

.default-property-column .image-outer .overlay-content a{
	display:inline-block;
	width:36px;
	height:36px;
	line-height:36px;
	background:rgba(255,255,255,0.60);
	margin:0px 3px;
	color:#1a1a1a;
	transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;	
}

.default-property-column .image-outer .overlay-content a:hover{
	background:#ffffff;	
}

.default-property-column .image-box img{
	display:block;
	width:100%;	
}

.default-property-column .lower-content{
	position:relative;
	background:#ffffff;	
}

.list-view .default-property-column .lower-content{
	padding:25px 30px;
	border-left:1px solid #cecece;	
}

.default-property-column .lower-content .desc-box{
	position:relative;
	padding:15px 20px;	
}

.list-view .default-property-column .lower-content .desc-box{
	padding:0px;
	margin-bottom:15px;	
}

.default-property-column .lower-content .desc-box h3{
	font-size:14px;
	color:#1a1a1a;
	margin-bottom:0px;	
}

.default-property-column .lower-content .desc-box h3 a{
	color:#1a1a1a;	
}

.default-property-column .lower-content .desc-box h3 a:hover{
	color:#52c629;	
}

.default-property-column .lower-content .desc-box .text{
	font-size:12px;
	color:#1a1a1a;
}

.default-property-column .lower-content .specs-list{
	position:relative;
}

.default-property-column .lower-content .specs-list li{
	display:block;
	line-height:24px;
	padding:8px 20px;
	background:#f8f8f8;	
}

.default-property-column .lower-content .specs-list li:nth-child(2n+2){
	background:#ffffff;	
}

.default-property-column .lower-content .specs-list li .pull-left{
	font-weight:600;	
}

.default-property-column .lower-content .info-list{
	position:relative;
	padding-top:20px;
}

.default-property-column .lower-content .info-list li{
	position:relative;
	display:inline-block;
	line-height:24px;
	margin-right:20px;
	font-size:12px;
}

.default-property-column .lower-content .info-list li strong{
	font-weight:600;
	color:#1a1a1a;
	padding-right:10px;	
}

.list-view .default-property-column .btn-style-three {
	padding:6px 25px;	
}

.default-property-column .lower-content .info-list li .price{
	position:relative;
	color:#52c629;
	font-size:14px;	
}


/*** 

====================================================================
	Team Section
====================================================================

***/

.team-section{
	position:relative;
	padding:80px 0px 40px;	
}

.team-section .sec-title .pull-right{
	padding-top:15px;	
}

.team-member{
	position:relative;
}

.team-section .team-member{
	margin-bottom:40px;	
}

.team-member .inner-box{
	position:relative;
	border:1px solid #e0e0e0;
	background:#ffffff;
	transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;		
}

.team-member .inner-box:hover{
	-webkit-box-shadow:0px 0px 7px 1px rgba(0,0,0,0.20);
	-ms-box-shadow:0px 0px 7px 1px rgba(0,0,0,0.20);
	-o-box-shadow:0px 0px 7px 1px rgba(0,0,0,0.20);
	-moz-box-shadow:0px 0px 7px 1px rgba(0,0,0,0.20);
	box-shadow:0px 0px 7px 1px rgba(0,0,0,0.20);
}

.team-member .image-outer{
	position:relative;	
}

.team-member .mail-btn{
	position:absolute;
	right:15px;
	bottom:0px;
	width:44px;
	height:44px;
	border-radius:50%;
	text-align:center;
	line-height:44px;
	font-size:16px;
	color:#ffffff;
	background:#ff6c00;
	transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;	
	-webkit-box-shadow:0px 0px 7px 1px rgba(0,0,0,0.20);
	-ms-box-shadow:0px 0px 7px 1px rgba(0,0,0,0.20);
	-o-box-shadow:0px 0px 7px 1px rgba(0,0,0,0.20);
	-moz-box-shadow:0px 0px 7px 1px rgba(0,0,0,0.20);
	box-shadow:0px 0px 7px 1px rgba(0,0,0,0.20);
	z-index:1;	
}

.team-member:hover .mail-btn{
	background:#52c629;	
}

.team-member .image-box{
	position:relative;
	overflow:hidden;	
}

.team-member .image-box:after{
	content:'';
	position:absolute;
	right:-25%;
	bottom:-25px;
	width:150%;
	height:50px;
	background:#ffffff;
	transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transform:rotate(-5deg);
	-ms-transform:rotate(-5deg);
	-o-transform:rotate(-5deg);
	-moz-transform:rotate(-5deg);	
	transform:rotate(-5deg);	
}

.team-member:hover .image-box:after{
	-webkit-transform:rotate(5deg);
	-ms-transform:rotate(5deg);
	-o-transform:rotate(5deg);
	-moz-transform:rotate(5deg);	
	transform:rotate(5deg);	
}

.team-member .image-box img{
	display:block;
	width:100%;	
}

.team-member .lower-content{
	position:relative;
	padding:0px 20px 10px;
}

.team-member .lower-content h3{
	font-size:14px;
	color:#1a1a1a;
	padding-bottom:7px;
	border-bottom:1px solid #e0e0e0;
	margin-bottom:10px;	
}

.team-member .lower-content .info-list{
	position:relative;
}

.team-member .lower-content .info-list li{
	display:block;
	font-size:12px;
	line-height:24px;
	padding:5px 0px;
}

.team-member .info-list li .icon{
	font-size:14px;
	padding-right:5px;
}


/*** 

====================================================================
	Contact Section
====================================================================

***/

.contact-section-one{
	position:relative;
	padding:80px 0px;
	background:#888888;	
}

.contact-section-two{
	position:relative;
	padding:30px 0px 80px;
	background:#ffffff;	
}

.contact-section-one.extended{
	padding:180px 0px 170px;	
}

.contact-section-one .auto-container{
	position:relative;
	z-index:5;	
}

.contact-section-one .form-container{
	position:relative;
	padding-right:70px;	
}

.contact-section-one .form-outer{
	position:relative;
	padding:25px 30px 25px 60px;
	background:rgba(255,255,255,0.98);	
}

.contact-section-one .form-outer .row{
	margin-left:-8px;
	margin-right:-8px;	
}

.contact-section-one .form-outer h3{
	font-size:16px;
	text-transform:uppercase;
	margin-bottom:10px;	
}

.default-form .form-group{
	position:relative;
	margin-bottom:15px;	
}

.contact-section-two .default-form .form-group{
	margin-bottom:25px;	
}

.contact-section-one .form-outer .row .form-group{
	padding:0px 8px !important;	
}

.default-form .form-group .field-label{
	text-transform:uppercase;
	margin-bottom:5px;
	color:#1a1a1a;
	font-weight:400;
	font-size:12px;
	font-family:'Montserrat',sans-serif;
}

.default-form .form-group .field-label sup{
	color:#ff0000;
	font-size:12px;
}

.default-form input[type="text"],
.default-form input[type="email"],
.default-form input[type="password"],
.default-form select,
.default-form textarea{
	display:block;
	width:100%;
	line-height:24px;
	padding:7px 15px;
	height:40px;
	border:1px solid #e7e7e7;
	background:#ffffff;
	transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;	
}

.default-form select{
	cursor:pointer;
	-moz-appearance:none;
	-webkit-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
	background:url(../images/icons/icon-select.png) right center no-repeat;
}

.default-form textarea{
	height:140px;
	resize:none;	
}

.contact-section-two .default-form textarea{
	height:260px;	
}

.default-form select option{
	text-indent:15px;	
}

.default-form input:focus,
.default-form select:focus,
.default-form textarea:focus{
	border-color:#52c629;	
}

.default-form input.error,
.default-form select.error,
.default-form textarea.error{
	border-color:#ff0000 !important;	
}

.default-form label.error{
	display:block;
	line-height:24px;
	padding:5px 0px 0px;
	margin:0px;
	text-transform:capitalize;
	font-size:11px;
	color:#ff0000;
	font-weight:400;	
}

.contact-section-one .info-box{
	position:absolute;
	padding:20px 40px 30px;
	right:100%;
	top:50%;
	margin-top:-100px;
	width:100%;
	margin-right:-20px;
	background:rgba(0,0,0,0.70);
	color:#ffffff;	
}

.contact-section-one .info-box h4{
	font-size:14px;
	text-transform:uppercase;
	margin-bottom:20px;	
}

.contact-section-one .info-box ul{
	position:relative;
	padding-left:20px;	
}

.contact-section-one .info-box ul li{
	margin-bottom:15px;
	color:#ffffff;
	line-height:24px;
	letter-spacing:1px;	
}

.contact-section-one .info-box ul li:last-child{
	margin-bottom:0px;	
}

.contact-section-one .info-box ul li .icon{
	padding-right:10px;
	font-size:14px;
	color:#52c629;
}

.contact-section-one .map-container{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;	
}

.map-canvas{
	position:relative;
	left:0px;
	top:0px;
	width:100%;	
}

.contact-section-one .map-container .map-canvas{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;	
}

.map-canvas .map-data{
	text-align:center;
	font-size:14px;
	font-weight:400;
	font-family:'Open Sans',sans-serif;	
}

.map-canvas .map-data h6{
	font-weight:600;
	text-transform:uppercase;
	font-size:14px;
	text-align:center;
	margin-bottom:5px;
	color:#181818;
	font-family:'Montserrat',sans-serif;	
}
<<<<<<< HEAD
.navbar-brand {
	margin-top: -19px;
}
=======
/*BODY_KIMCHI*/
.snip1446 {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  max-height: 230px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
}
.snip1446 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1446 img {
  opacity: 1;
  width: 400px;
  height:300px;
}
.snip1446:after,
.snip1446:before,
.snip1446 figcaption:after,
.snip1446 figcaption:before {
  background: #0a0a0a;
  width: 25%;
  position: absolute;
  content: '';
  opacity: 0;
  -webkit-transition: all 0.3s steps(4);
  transition: all 0.3s steps(4);
  z-index: 1;
  top: 100%;
  bottom: 0;
}
.snip1446:before {
  left: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}
.snip1446:after {
  left: 25%;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.snip1446 figcaption:before {
  left: 50%;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  z-index: -1;
}
.snip1446 figcaption:after {
  left: 75%;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  z-index: -1;
}
.snip1446 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 30px;
}
.snip1446 h2,
.snip1446 p,
.snip1446 .icons {
  margin: 0;
  width: 100%;
  opacity: 0;
}
.snip1446 h2 {
  font-weight: 900;
  text-transform: uppercase;
}
.snip1446 p {
  font-weight: 300;
}
.snip1446 .icons {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
}
.snip1446 i {
  padding: 0px 10px;
  display: inline-block;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  opacity: 0.8;
}
.snip1446 i:hover {
  opacity: 1;
}
.snip1446:hover:after,
.snip1446.hover:after,
.snip1446:hover:before,
.snip1446.hover:before,
.snip1446:hover figcaption:after,
.snip1446.hover figcaption:after,
.snip1446:hover figcaption:before,
.snip1446.hover figcaption:before {
  top: 0;
  opacity: 0.8;
}
.snip1446:hover figcaption h2,
.snip1446.hover figcaption h2,
.snip1446:hover figcaption p,
.snip1446.hover figcaption p,
.snip1446:hover figcaption .icons,
.snip1446.hover figcaption .icons {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.snip1446:hover figcaption h2,
.snip1446.hover figcaption h2,
.snip1446:hover figcaption .icons,
.snip1446.hover figcaption .icons {
  opacity: 1;
}
.snip1446:hover figcaption p,
.snip1446.hover figcaption p {
  opacity: 0.7;
}

.navbar-brand {
	margin-top: -19px;
}